:root {
  --nav-bar-color: #1f397a;
  --subheader-color: #101c3d;
  --body-color: #051b54;
  --text-color: #dbdbdb;
  --accent-color: #ffffff;
  --nav-bar-height: 75px;
}

/*** SLIDESHOW ***/

.slideshow {
  text-align: center;
  clear: both;
}

.img-container {
  clear: both;
}

.slideshow-img {
  max-height: 500px;
  height: 500px;
}

#slideshow-img-left, #slideshow-img-right {
  filter: brightness(50%);
}

.slideshow-btn {
  max-height: 50px;
  height: 50px;
  max-width: 50px;
  width: 50px;
  background-color: #585858;
  color: #ffffff;
  font-size: 25px;
  border-radius: 10px;
  font-weight: bolder;
  border: none;
}

.slideshow-btn:hover {
  background-color: #A0A0A0;
}

.row {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

/*** PROJECTS ***/

.proj-img {
  max-width: 100%;
  height: auto;
/*  padding-left: 50px;
  padding-right: 50px;*/
}

.project-img {
  border-radius: 15%;
  width: 100px;
  height: auto;
  vertical-align: center;
}

.project-right {
  margin-left: 20px;
  vertical-align: center;
}

.project {
  background-color: #042d5c;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.project:hover {
  background-color: #0754ab;
}

.project-a {
  text-decoration: none;
}

/*** SPACING/SCREEN PORTIONS ***/

.portion-30 {
  width: 26%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  /*padding: 100px;*/
}

.portion-50 {
  width: 46%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  /*padding: 100px;*/
}

.portion-70 {
  width: 66%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  /*padding: 100px;*/
}

.div-margin {
  margin-left: 100px;
  margin-right: 100px;
}

.float-row {
  clear: both;
}

/*** NAV BAR ***/

.logo {
  filter: brightness(0) invert(1);
  width: var(--nav-bar-height);
  height: var(--nav-bar-height);
  margin-right: 50px;
}

.header {
  background-color: var(--nav-bar-color);
  width: 100%;
  margin: 0;
}

.subheader {
  background-color: var(--subheader-color);
  width: 100%;
  margin: 0;
}

.main-btn {
  background-color: inherit;
  height: var(--nav-bar-height);
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  border: 0px solid #000000;
  margin-right: 50px;
}

.main-btn:hover {
  background-color: inherit;
  color: #d1d1d1;
  border-bottom: 4px #d1d1d1 solid;
}

.selected {
  background-color: inherit;
  color: var(--text-color);
  border: 0px;
  border-bottom: 4px #fbff00 solid;
  font-size: 24px;
  height: var(--nav-bar-height);
  vertical-align: center;
  margin-right: 50px;
}

/*** PROFILE ***/

.profile-img {
  width: 300px;
  height: auto;
  border: 5px var(--accent-color) solid;
  border-radius: 50px;
  /*margin: 30px;*/
  /*margin-right: 300px;*/
}



.footer {
  /*position: fixed;*/
  /*bottom: 0;*/
  float: left;
  width: 100%;
  margin-bottom: 10px;
  /*padding-left: 20px;*/
  /*padding: 50px;*/
}

/* Split the screen in half */
.split {
  /*height: 100%;*/
  position: fixed;
  /*z-index: 1;*/
  /*top: 0;*/
  /*overflow-x: hidden;*/
}



.spaced {
  padding-left:20px;
  padding-right:20px;
  padding-bottom:5px;
  padding-top:5px;
}

.contact-info {

}

.contact-info {
  text-align: center;
}


.nav-btn {
  min-width: 200px;
}



.welcome {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*max-width: 400px;*/
}

.welcome td {
  /*vertical-align: top;*/
  /*background-color: #bbbbbb;*/
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 22px;
}

h1, h2, h3, p {
  color: var(--text-color);
  /*text-align: left;*/
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.icon {
  filter: brightness(0) invert(1);
  width: 35px;
  height: 35px;
  margin-right: 20px;
  /*border-radius: 50%;*/
}

.resume {
  width: 60%;
  height: 1000px;
}

body {
  background-color: var(--body-color);
  margin: 0;
}

/*button {
  padding: 8px;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  background-color: #e6eeff;
}*/



.sub_btn {
  border-radius: 10px;
  background-color: #05386b; 
  color: #5cdb95;
  border: 1px solid #edf5e1;
}

.sub_btn:hover {
  background-color: #5cdb95;
  border: 1px solid #edf5e1;
  color: #05386b;
}

.video_btn {
  border-radius: 20px;
  background-color: #05386b; 
  color: #edf5e1;
  border: 2px solid #edf5e1;
  width: 100%;
}

.video_btn:hover {
  background-color: #edf5e1;
  border: 2px solid #edf5e1;
  color: #05386b;
}

/*img {
  float: left;
  padding: 10px;
}*/



.video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}

/*iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}*/



.sub_th {
  width: 33%;
}

td {
  text-align: center;
}

/*input {
  border-radius: 5px;
  border: 1px solid #edf5e1;
  background-color: rgba(255, 255, 255, 0.5);
  color: #edf5e1;
  padding: 5px;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/